/*Color palette*/
:root{
    --foreground-color: tomato;
    --background-gradient-1: linear-gradient(90deg, rgba(255,192,255,1) 0%, rgba(255,192,203,1) 35%, rgba(204,255,192,1) 100%);
    --background-gradient-2: linear-gradient(90deg, rgba(204,255,192,1) 0%, rgba(255,192,203,1) 35%, rgba(255,192,255,1) 100%);
}



body {
    margin: 0;
    overflow: hidden;
}

/* Here I am playing around with animating a gradient to the background*/
.backdrop {
    position: absolute;
    inset:0;
}

#backdrop1 {
    background: var(--background-gradient-1);
}

#backdrop2 {
    background: var(--background-gradient-2);
    animation: animation-swirl 5s infinite;

}

@keyframes animation-swirl {
    0%    { opacity: 0; }
    50%   { opacity: 1; }
    100%  { opacity: 0; }
  }


/* For the paddles I am using a variable for the "top" position so I can
later manipulate it in js and make the paddles move. So the top position
and the transform indicate the starting position*/
.paddle {
    --position: 50;
    position: absolute;
    background-color: var(--foreground-color);
    width: 1vh;
    height: 10vh;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}

/* Making x and y variables for the ball so we can manipulate it with js. Again the numbers
    here reflect the starting position, which is the center of the screen*/
.ball {
    --x: 50;
    --y: 50;
    position: absolute;
    background-color: var(--foreground-color);
    /*The calc(var) looks complicated but really we are just saying that vh and bw should be 50*/
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    transform: translate(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
}

/*Styling the look of the scores*/
.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
    padding-top: 20px;
}

#computer-score, #player-score {
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
}
/*Making sure that the player-score aligns to the right of the screen*/
#player-score {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
}